appdirs==1.4.3
attrs==19.3.0
black==19.10b0
CacheControl==0.12.5
cachy==0.2.0
certifi==2019.9.11
chardet==3.0.4
cleo==0.6.8
Click==7.0
Django==2.2.7
django-extensions==2.2.5
docopt==0.6.2
factory-boy==2.12.0
Faker==2.0.3
html5lib==1.0.1
idna==2.8
importlib-metadata==0.23
isort==4.3.21
jedi==0.15.1
jsonschema==3.1.1
lockfile==0.12.2
more-itertools==7.2.0
msgpack==0.6.2
mypy==0.740
mypy-extensions==0.4.3
parso==0.5.1
pastel==0.1.1
pathspec==0.6.0
Pillow==6.2.1
pkginfo==1.5.0.1
poetry==0.12.17
prompt-toolkit==2.0.10
psycopg2-binary==2.8.4
ptpython==2.0.6
Pygments==2.4.2
pylev==1.3.0
pyparsing==2.4.4
pyrsistent==0.14.11
python-dateutil==2.8.1
pytz==2019.3
-e git+git@github.com:Retarded-Development/reddit.git@009d9c727ea6c0c1ba261745838f68de3c8942d7#egg=reddit
regex==2019.11.1
requests==2.22.0
requests-toolbelt==0.8.0
shellingham==1.3.1
six==1.13.0
sqlparse==0.3.0
text-unidecode==1.3
toml==0.10.0
tomlkit==0.5.8
typed-ast==1.4.0
typing-extensions==3.7.4.1
urllib3==1.25.6
wcwidth==0.1.7
webencodings==0.5.1
zipp==0.6.0
